{% extends "layout.html" %}
{% block title %}History{% endblock %}

{% block main %}
    <h1 class = "mb-3">Letters sent you-</h1>
    <br><br>
    {% if details %}
        <!--Dynamic headings after the slides-->
        <div class="container marketing">
            <div class="row">
            {% for element in details %}
                <div class="col-lg-4">
                    <form action = "/article" method = "post">
                        <h3 class="fw-normal" id = "title">{{ element.title|safe}}</h3>
                        <p>{{ (lines[loop.index0])|safe }}</p>
                        <input type = "hidden" name = "letter_id" value = "{{ element.letter_id }}">
                        <input type = "hidden" name = "user_id" value = "{{ element.user_id }}">
                        <p><button class="btn btn-secondary" id = "read_btn" type = "submit">Read it!</button></p>
                    </form>
                </div>
                {% if (loop.index0 + 1) % 3 == 0 and not loop.last %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
            </div>
        </div>
    {% else %}
        <h3>There no letters yet!</h3>
    {% endif %}
    <br><br><br>
{% endblock %}