{% extends "layout.html" %}
{% block title %}Log In{% endblock %}

{% block main %}
<h1 class = "mb-3">Log into your account</h1>
    <form action = "/login" method = "post">
        <div class = "mb-3">
            <input class="form-control mx-auto w-auto" placeholder = "Username" autofocus required autocomplete="off" name = "username">
        </div>
        <div class = "mb-3">
            <input class="form-control mx-auto w-auto" placeholder = "Email" autocomplete="off" required name = "email">
        </div>
        <div class = "mb-3">
            <input class="form-control mx-auto w-auto" autocomplete = "off" name = "password" required placeholder="Password">
        </div>
        <div>
            <button class = "btn btn-primary" type = "submit">Log In</button>
        </div>
    </form>
{% endblock %}