{% extends "layout.html" %}
{% block title %}Register{% endblock %}

{% block main %}
<h1 class = "mb-3">Create your account!</h1>
    <form action = "/register" method = "post">
        <div class = "mb-3">
            <input class="form-control mx-auto w-auto" placeholder = "Username" required autofocus autocomplete="off" name = "username">
        </div>
        <div class = "mb-3">
            <input class="form-control mx-auto w-auto" type = "email" placeholder = "Email" required autocomplete="off" name = "email">
        </div>
        <div class = "mb-3">
            <input class="form-control mx-auto w-auto" type = "password" autocomplete = "off" name = "password" required placeholder="Password">
        </div>
        <div>
            <button class = "btn btn-primary" type = "submit">Register</button>
        </div>
    </form>
{% endblock %}